beartype==0.17.2
black==24.2.0
isort==5.13.2
matplotlib==3.8.3
mypy-extensions==1.0.0
nptyping==2.5.0
numba==0.59.0
numpy==1.26.4
pytest==8.0.2
arcade @ git+https://github.com/pythonarcade/arcade.git@development
neat-proc @ git+https://github.com/JohnKechagias/neat-proc.git@main
